extends layout

block content
  h1 Basic User Crud
  p.lead A Basic User CRUD using Node Express and Mongo, this project used the Hackaton-Starter project as a template.
  p.lead Made by Juan Ignacio Cangelosi
  p.lead Special Thanks to Sahat Yalkabov for his wonderful boilerplate project:
  a.nav-link(href='https://github.com/sahat/hackathon-starter/') Link to the Project
  hr